@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
  margin: 0;
  font-family: "Space Mono", Arial, serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  color: #4d4d4d;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
:after,
:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h3 {
  display: inline-block;
  padding: 7px 15px;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-weight: bold;
  background: #e6e6e6;
  margin-bottom: 10px;
}

h5 {
  margin-bottom: 20px;
  font-weight: normal;
  color: #bfbfbf;
}

h4 {
  color: #000;
  font-size: 20px;
  font-weight: 400;
  margin: 0 0 20px 0;
}

span, strong {
  color: #000;
  font-weight: bold;
}

span.light {
    font-weight: normal;
    color: #bfbfbf;
}

.link {
  color:#4d4d4d;
  font-weight: normal;
}

.link:hover {
  text-decoration: underline;
  cursor: pointer;
}

p {
  margin-bottom: 20px;
  word-break: break-word;
}

hr {
  height: 3px;
  color: #e6e6e6;
  width: 100%;
  margin: 30px 0 30px;
}

@media screen and (max-width: 779px) {
  h3 {
    font-size: 12px;
  }
}